.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.headers {
  color: black;
  font-size: 30px;
  padding: 20px;
  border-bottom: 3px solid black;
  text-align: center;
  margin: auto;
  font-family: 'Rubik', sans-serif;

}

.header-name {
  font-size: 45px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.carol {
  float: left;
  padding-right: 30px;
}

.nav {
  font-family: 'Rubik', sans-serif;

}


.project-title {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-style: bold;
}

.project {
  margin: 10px;
  height: 450px;
}

.yellow {
  background-color: #FFF295;
}

.description {
  font-size: 15px;
  font-style: italic;
}

.projects {
  padding-bottom: 10px;
}

a:hover {
  color: #FFF295;
}

button {
  padding: 10px;
  background-color: #443C32;
  color: white;
  font-size: 13px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
